/****************************************************/
/* Heder Navbar Header */
/****************************************************/

.header__fixed {
    /* position: fixed; */
    position: sticky;
    background: #e6f0ff;
    padding-top: 10px;
    padding-bottom: 20px;
    position: sticky;
    top: -26px;
    z-index: 10;
}

.header__navbar {
    display: flex;
}

.navbar__action {
    margin-left: auto;
}

.header__navbar-list {
    list-style: none;
    display: inline-block;
    display: flex;
    margin-left: 10px;
}

.header__navbar-list li a {
    color: #4f5361;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header__navbar-list li a {
    font-size: 1.4rem;
    padding: 14px;
    font-weight: 600;
}

.navbar__signin {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 600;
    margin: 0 18px;
}

.navbar__signup-btn {
    height: 40px;
}

.header_hero {
    background: #e6f0ff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #e6f0ff;
    height: calc(100vh - 90px);
    height: 640px;
}

.intro__subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #687690;
    margin: 0;
}

.intro__title {
    font-size: 54px;
    font-weight: 700;
    line-height: 76px;
    height: 152px;
    width: 559px;
    color: 000336;
    margin-top: 0px;
    margin-bottom: 0;
}

.intro__description {
    font-size: 1.4rem;
    margin-top: 30px;
    width: 550px;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    color: #5a6473;
}

.intro__cta-btn {
    min-width: 170px;
    font-size: 1.3rem;
    font-weight: 500;
}

.header_hero__illustration {
    /* bottom: 0; */
}

.header_hero__illustration-img {
    padding: 0;
    margin: 0;
    position: absolute;
    right: calc((100% - 1110px) / 2 - 100px);
    bottom: 0;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* client-block */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.client-block {
    margin-top: 79px;
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    padding: 81px;
}

.client-block__header {
    display: flex;
    justify-content: space-between;
}

.client-block__info {
    font-size: 1.6rem;
    font-weight: 500;
    color: #7d8589;
}

.rating-text {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
}

.client-rate {
    text-align: right;
}

.client-logo {
    margin-top: 102px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-logo-link-amazon {
    padding: 26px 40px;
    box-shadow: 1px 1px 10px #c4c4c4;
    border-radius: 4px;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* How it work */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.how-it-work {
    margin-top: 79px;
    width: 685px;
    height: 427px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.how-it-work__header-title::before {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    /* transform: translateX(-50%) means "shift this element to the left by 50% of its own width". it mean 50% of width: 41px; */
    transform: translateX(50%);
    border: 1px solid black;
    width: 41px;
    height: 2px;
    background-color: #000339;
}

.how-it-work__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-it-work__header-title {
    font-size: 3.5rem;
    color: var(--primary-color);
    font-weight: 600;
    text-align: center;
}

.how-it-work__header-block {
    text-align: center;
}

.how-it-work__header-description {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 30px;
    max-width: 459px;
    text-align: center;
}

.how-it-work__guid {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.sell-full-guid {
    margin-top: 50px;
    text-align: center;
}

.buyer-guild,
.renter-guid,
.seller-guild {
    font-size: 2rem;
    font-weight: 500;
    line-height: 22px;
    color: #3b3c45;
}

.buy-link,
.rent-link,
.guid-link {
    font-size: 1.4rem;
    color: #0689ff;
    font-weight: 600;
}

.how-to-buy,
.how-to-rent,
.how-to-sell {
    text-align: center;
}

.sell-full-guid-btn {
    width: 180px;
    padding: 15px 24px;
    font-size: 1.3rem;
    margin-bottom: 79px;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* Properties */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.featured_properties {
    background-color: #d3e1eb;
    /* width: 100%; */
    height: 727px;
    margin-top: 120px;
}

.properties-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.properties-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
}

.properties-description {
    font-size: 1.6rem;
    font-weight: 400;
}

.view-all-link {
    color: #0689ff;
    text-align: right;
    font-size: 1.8rem;
    font-weight: 600;
}

.properties-header__link {
    padding: 16px 0;
}

.property-body {
    display: flex;
    margin-top: 68px;
    gap: 30px;
}

.property-item {
    flex: 1;
}

.property-image {
    width: 350px;
    height: 227px;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin-bottom: -4px;
}

.content-block {
    background-color: var(--white-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    height: 180px;
}

.top-content {
    flex-grow: 1;
}

.property-name-block {
    margin-bottom: 15px;
    height: 60px;
}

.property-name {
    margin-top: 0;
    padding-top: 15px;
    padding-left: 20px;
    /* padding-bottom: 20px; */
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
    color: #000339;
    /* min-height: 65px; */
}

.property-address {
    color: #a3a6ab;
    font-size: 1.4rem;
    font-weight: 500;
    padding-left: 20px;
}

.icon-group {
    height: 100%;
    bottom: 0;
    margin-top: auto;
    display: flex;
    align-items: flex-end;
}

.property-icon {
    list-style-type: none;
    display: flex;
    padding-left: 20px;
    align-items: center;
    bottom: 0;
}

.property-icon-item {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.property-icon-item + .property-icon-item {
    margin-left: 22px;
}
.property-icon-item-img {
    margin-right: 8px;
    height: 100%;
}

.property-text {
    color: #4d4d52;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.14px;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* realestate info */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.realestate-content {
    margin-left: auto;
    margin-right: auto;
    width: 1017px;
    height: 685px;
    max-width: calc(100% - 24px);
    margin-top: 50px;
    margin-bottom: 50px;
}

.realestate-info {
    position: relative;
    width: 100%;
}

.realestate-info__rental {
    position: absolute;
    top: 50px;
    left: 0;
    width: 239px;
    height: 252px;
    background-color: var(--white-color);
    border-radius: 12px 0px 12px 12px;
    -moz-box-shadow: 1px -3px 29px -5px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 1px -3px 29px -5px rgba(0, 0, 0, 0.41);
    -ms-box-shadow: 1px -3px 29px -5px rgba(0, 0, 0, 0.41);
    box-shadow: 1px -3px 29px -5px rgba(0, 0, 0, 0.41);
}

.realestate-info__count {
    color: #000339;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.26px;
    width: 159px;
    display: inline-block;
    padding: 0px 20px;
    margin-top: 40px;
}

.realestate-info__description {
    color: #a7a7a7;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding-bottom: 25px;
    padding: 0px 20px;
}

.realestate-info__user-icons {
    padding: 0px 10px;
    position: relative;
}

.realestate-info__user-icons::before {
    position: absolute;
    content: "";
    border: 1.2px solid #e9e9e9;
    width: 193px;
}

.user-avatar {
    padding-top: 25px;
}

.realestate-info__house {
    width: 400px;
    height: 460px;
    margin-top: 50px;
    margin-left: 120px;
}

.realestate-info__house-image {
    width: 400px;
    height: 460px;
    object-fit: cover;
    display: block;
}

.user-avatar {
    position: relative;
    margin-top: 20px;
}

.user-avatar + .user-avatar {
    margin-top: 6px;
}

.user-avatar-img {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow: 0 16px 32px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.user-avatar-img:nth-child(2) {
    left: 12px;
    z-index: 2;
}

.user-avatar-img:nth-child(3) {
    left: 30px;
    z-index: 3;
}

.user-avatar-img:nth-child(4) {
    left: 90px;
    z-index: 4;
}

.user-avatar-img:nth-child(5) {
    left: 110px;
    z-index: 5;
}

.user-avatar-img:nth-child(6) {
    left: 140px;
    z-index: 6;
}

.user-avatar-img:nth-child(7) {
    left: 155px;
    z-index: 7;
}

.user-avatar-img:nth-child(8) {
    left: 170px;
    z-index: 8;
}

.realstate-header {
    display: flex;
}

.realestate-info__love-message {
    margin-top: 65px;
    padding-left: 164px;
}

.realestate-info__title {
    width: 269px;
    height: 142px;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 45px;
    position: relative;
}

.realestate-info__title::before {
    content: "";
    position: absolute;
    border: 3px solid black;
    width: 41px;
    top: -10px;
    left: 0;
}
.realestate-info__text {
    color: #5a6473;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    width: 309px;
}

.realestate-info__property-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.realestate-info__number {
    color: #000;
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    padding-left: 10px;
}

.realestate-info__stat-description {
    color: #7b8087;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    padding-left: 10px;
    line-height: normal;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* subscribe */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.subscribe-content {
    width: 1110px;
    height: 377px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 55px;
    border-radius: 20px;
    background-color: #063183;
    position: relative;
}

.subscribe_img {
    position: absolute;
    top: -30px;
    right: 221px;
}

.subscribe_text-title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 35px;
    padding-top: 140px;
    padding-left: 80px;
    margin: 0;
}

.subscribe_text-description {
    color: #fff;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-left: 80px;
    margin: 0;
    padding-top: 15px;
}

.subscribe_button button {
    margin-top: 20px;
    margin-left: 80px;
    width: 151px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #fff;

    color: #002366;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* footer */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.footer {
    width: 1110px;
    height: 321px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 58px;
    margin-top: 100px;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer_product-title,
.footer_resources-title,
.footer_company-title,
.footer_social-title {
    color: #1c1c1d;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.footer_product ul,
.footer_resources ul,
.footer_company ul,
.footer_social ul {
    color: #7a7a7e;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 19px;
    margin: 0;
}

.footer_product ul li,
.footer_resources ul li,
.footer_company ul li,
.footer_social ul li {
    padding-top: 21px;
}

.social-desc {
    color: #7a7a7e;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 257px;
    margin: 0;
    padding-top: 40px;
}

.footer-social-desc {
    margin-top: 40px;
}

.footer-brand-icon {
    width: 107px;
    height: 24px;
    flex-shrink: 0;
    object-fit: cover;
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer-copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    color: #c2c2c2;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
