/* PC */
@media screen and (min-width: 992px) {
    .mobile_header {
        display: none;
    }
}

/* Tablet and Mobile */
@media screen and (max-width: 991.98px) {
    .header__navbar-list {
        display: none;
    }

    .mobile_header {
        display: block;
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;
        width: 100%;
    }

    .header__navbar {
        position: relative;
    }

    .tablet_navbar_logo {
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        transform: translateY(30%);
        text-align: center;
        line-height: 20px;
    }

    /* bars icon */
    .toggle_menu {
        font-size: 36px;
        color: #666;
    }

    .menu_overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu_drawer {
        position: fixed;
        width: 40%;
        height: 100%;
        background-color: var(--white-color);
        z-index: 30;
        transform: translateX(-100%);
        transition: 0.5s ease;
    }

    .menu_drawer a img {
        padding: 20px;
    }

    .menu_drawer ul {
        padding: 20px;
        display: block;
    }

    .menu_drawer ul li {
        color: #4f5361;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .menu_drawer ul li + li {
        margin-top: 12px;
    }

    .menu_checkbox:checked ~ .menu_overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu_checkbox:checked ~ .menu_drawer {
        transform: translateX(0);
    }

    .header_hero__intro {
        text-align: center;
    }
    .intro__description {
        text-align: center;
        width: 80%;
        margin: 30px auto;
    }
    .intro__title {
        width: 80%;
        margin: 0 auto;
    }

    .client-logo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .client-logo-link + .client-logo-link {
        margin: 20px 60px;
    }
    .featured_properties {
        height: auto;
        padding-bottom: 30px;
    }
    .property-body {
        grid-template-columns: 1fr 1fr;
    }
    .realstate-header {
        flex-direction: column;
    }

    .realestate-info__love-message {
        order: 1;
    }

    .realestate-info__house {
        order: 2;
    }

    .realestate-info__love-message {
        padding: 0;
    }
    .realestate-info__title {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .realestate-info__text {
        width: 100%;
        margin: 0 auto;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .header_hero__illustration-img {
        display: none;
    }

    .cards {
        --columns: 2;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .mobile {
        display: block;
    }
    .navbar__action {
        display: none;
    }
    .menu_drawer {
        inset: 0 25% 0 0;
    }
    .separate {
        border-top: 1.5px solid #bebebe;
    }
    .header_hero__illustration-img {
        display: none;
    }
    .cards {
        --columns: 1;
    }
}
