/* PC */
@media screen and (min-width: 992px) {
    .mobile_header {
        display: none;
    }
    .toggle_menu {
        display: none;
    }
}

/* Tablet and Mobile */
@media screen and (max-width: 991.98px) {
    .header__navbar-list {
        display: none;
    }

    .mobile_header {
        display: block;
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;
        width: 100%;
    }

    .header__navbar {
        position: relative;
    }

    .tablet_navbar_logo {
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        transform: translateY(30%);
        text-align: center;
        line-height: 20px;
    }

    /* bars icon */
    .toggle_menu {
        font-size: 36px;
        color: #666;
    }

    .menu_overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu_drawer {
        position: fixed;
        width: 40%;
        height: 100%;
        background-color: var(--white-color);
        z-index: 30;
        transform: translateX(-100%);
        transition: 0.5s ease;
    }

    .menu_drawer a img {
        padding: 20px;
    }

    .menu_drawer ul {
        padding: 20px;
        display: block;
    }

    .menu_drawer ul li {
        color: #4f5361;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .menu_drawer ul li + li {
        margin-top: 12px;
    }

    .menu_checkbox:checked ~ .menu_overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu_checkbox:checked ~ .menu_drawer {
        transform: translateX(0);
    }

    .header_hero__intro {
        text-align: center;
    }
    .intro__description {
        text-align: center;
        width: 80%;
        margin: 30px auto;
    }
    .intro__title {
        width: 80%;
        margin: 0 auto;
    }

    .client-logo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .client-logo-link + .client-logo-link {
        margin: 20px 60px;
    }
    .featured_properties {
        height: auto;
        padding-bottom: 30px;
    }
    .property-body {
        grid-template-columns: 1fr 1fr;
    }
    .realstate-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .realestate-info__love-message {
        order: 1;
    }

    .realestate-info__house {
        order: 2;
    }

    .realestate-info__love-message {
        padding: 0;
    }
    .realestate-info__title {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .realestate-info__text {
        width: 100%;
        margin: 0 auto;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .header_hero__illustration-img {
        display: none;
    }

    .cards {
        --columns: 2;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .hidden_on_mobile {
        display: none;
    }
    .navbar__action {
        display: none;
    }
    .menu_drawer {
        inset: 0 25% 0 0;
    }
    .separate {
        border-top: 1.5px solid #bebebe;
    }
    .header_hero__illustration-img {
        display: none;
    }
    .header_hero {
        display: flex;
        justify-content: start;
        height: auto;
        padding-bottom: 30px;
    }
    .header_hero_flex {
        /* padding-top: 0; */
    }
    .intro__subtitle {
        font-weight: 600;
    }
    .cards {
        --columns: 1;
    }

    .client-block {
        padding: 0;
    }
    .client-block__rating {
        height: 20px;
    }
    .client-block__info {
        width: 100%;
    }
    .client-block__info {
        font-size: 1.7rem;
        font-weight: 600;
    }
    .client-logo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
    }
    .client-logo-link {
        padding: 20px 44px;
    }
    .client-logo-link + .client-logo-link {
        margin: 0;
    }
    .how-it-work__header-description {
        font-size: 1.7rem;
        font-weight: 600;
    }
    .how-it-work__guid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .how-to-buy,
    .how-to-rent,
    .how-to-sell {
        padding: 0 100px;
    }
    .realestate-info__house-image {
        width: 500px;
        max-width: 80%;
        border-radius: 20px;
    }
    .properties-header {
        display: block;
    }
    .realestate-info__house {
        margin: 0;
        position: relative;
        width: 100%;
        margin-top: 30px;
    }
    .realestate-info__rental {
        display: none;
        right: 25%;
        top: 0;
        position: absolute;
        transform: translate(0, 0);
        border-top-right-radius: 10px;
    }
    .realestate-info__property-stats {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .realestate-info__stat {
        margin-top: 30px;
    }
    .subscribe-content {
        margin: 0 30px;
    }
    .subscribe_text {
        padding: 20px 40px;
    }
    .subscribe_text-title {
        padding: 0;
    }
    .subscribe_text-description {
        padding: 0;
        margin-top: 20px;
        font-size: 1.9rem;
    }
    .subscribe_button button {
        margin-left: 30px;
    }
    .subscribe_img {
        display: none;
    }
    .footer {
        height: 100%;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
    }
    .footer_product,
    .footer_resources,
    .footer_company,
    .footer_social {
        padding: 0 30px;
    }
    .footer_resources,
    .footer_company,
    .footer_social {
        margin-top: 35px;
    }
    .footer_product-title,
    .footer_resources-title,
    .footer_company-title,
    .footer_social-title {
        font-size: 2.5rem;
    }
    .footer_product ul,
    .footer_resources ul,
    .footer_company ul,
    .footer_social ul {
        padding-top: 0;
        font-size: 2rem;
    }
    .footer_social {
        margin-bottom: 60px;
    }
    .social-desc {
        padding-top: 6px;
    }
    .footer-social-desc {
        margin: 5px;
    }

    .footer-brand-icon {
        margin-left: 30px;
        margin-bottom: 40px;
        margin-top: 30px;
    }
    .footer-copyright {
        position: absolute;
        bottom: 0;
        left: 30px;
        margin: 0;
        color: #c2c2c2;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .footer-social-desc {
        padding-bottom: 30px;
        padding-top: 20px;
    }
}
